Meta
doc
!inst/doc
.Rproj.user
.Rhistory
.RData
tcpl.Rproj
TCPL.log
vignettes/*.tex
vignettes/*.aux
vignettes/*.pdf
vignettes/*.toc
vignettes/*.bib
vignettes/*.log
vignettes/*.gz
tcpl.Rcheck
tcplLite.Rproj
inst/doc
data-raw/db_cred.R
/revdep/
/doc/
/Meta/
